* {
    box-sizing: border-box;
}

body {
}

.container {
    position: relative;
    margin: 200px auto 0;
    height: 300px;
    width: 300px;

}

.animation {
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 10s;
}

/*блок який обертається по осі Y*/
.cube {
    transform-style: preserve-3d;
    perspective: 500px;
    animation-name: cubeY;
}

@keyframes cubeY {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }

}

/*налаштування сторін*/
.side {
    position: absolute;
    width: inherit;
    height: inherit;
    /*border: 5px solid black;*/
    font: normal 70px Arial;
    text-align: center;
    line-height: 300px;
    color: black;
}

/*червоний блок*/
.front {
    background: red;
    animation-name: testred;
    transform-style: preserve-3d;
}

.front::after {
    content: '';
    position: absolute;
    height: 300px;
    width: 243px;
    top: 0px;
    left: 0px;
    transform: translateZ(-1px);
    background: red;
}

@keyframes testred {
    from {
        transform: rotateZ(0) translateZ(50px);
    }
    to {
        transform: rotateZ(360deg) translateZ(50px);
    }
}

/*синій блок*/
.back {
    background: #4141d7;
    animation-direction: reverse;
    animation-name: testblue;
    transform-style: preserve-3d;
}

.back::after {
    content: '';
    position: absolute;
    height: 300px;
    width: 282px;
    top: 0px;
    left: 0px;
    transform: translateZ(-1px);
    background: inherit;

}


@keyframes testblue {
    from {
        transform: rotateZ(0deg) translateZ(-10px)rotateY(170deg);
    }
    to {
        transform: rotateZ(360deg) translateZ(-10px)rotateY(170deg);
    }
}




